// Place all the styles related to the admin/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-menu {
    display: flex;
    flex-wrap: wrap;
}

.admin-menu > div {
    width: 30%;
    height: 130px;
    border: solid black 1px;
    text-align: center;
    padding-top: 25px;
    margin: 5% 10%;
}

.admin-menu > div a {
    font-weight: bold;
    color: gray;
    background-color: yellow;
    font-size: 20px;
}