<div class="admin-menu">
    <div>
        <%= link_to "" do %>
            社員情報<br>
            【社員一覧・登録・編集・承認】
        <% end %>
    </div>
    <div><%= link_to "メール" %></div>
    <div>
        <%= link_to "" do %>
            勤怠<br>
            【出勤・退勤・承認】
        <% end %>
    </div>
    <div>
        <%= link_to "" do %>
            管理者情報<br>
            【管理者一覧・権限付与】
        <% end %>
    </div>
</div>