<div id="top">
    <div id="company-name">○○会社</div>
    <div id="top-btns">
        <div>
            <%= link_to new_admin_registration_path, class: "top-btn" do %>
                <i class="fa-solid fa-play"></i> 管理者新規
            <% end %>
        </div>
        <div>
            <%= link_to new_admin_session_path, class: "top-btn" do %>
                <i class="fa-solid fa-play"></i> 管理者ログイン
            <% end %>
        </div>
        <div>
            <%= link_to new_admin_registration_path, class: "top-btn" do %>
                <i class="fa-solid fa-play"></i> 社員ログイン
            <% end %>
        </div><!--仮で遷移先登録-->
    </div>
</div>
