<header>
  <h2>○○会社</h2>
  <nav>
    <ul>
      <li>
        <% if admin_signed_in? %>
          <%= link_to "ログアウト" , destroy_admin_session_path, method: :delete %>
        <% end %>
      </li>
      <li>
          <%= link_to "メール" %>
      </li>
    </ul>
  </nav>
</header>